[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autobuild = "*"
ruff = "*"
black = "*"
pytest = "*"
wheel = "*"
setuptools = "*"
pytest-django = "*"

[scripts]
test = "pytest"
cleanup = "sh -c \"ruff --fix eventlog && black eventlog"
docs = "sphinx-build docs docs/_build/html"

[pipenv]
allow_prereleases = true

[packages]
django-eventlog = {editable = true,path = "."}
