[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autobuild = "*"
ipdb = "*"


[packages]

django = ">=1.8"

[requires]

python_version = "3.6"
