[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autobuild = "*"
coverage = "*"
codacy-coverage = "*"
ipdb = "*"
isort = "*"
black = "*"

[scripts]
test = "./runtests.py"
cleanup = "sh -c \"isort -rc eventlog && black --skip-string-normalization --line-length=80 --exclude='/(migrations)/' eventlog\""

[pipenv]
allow_prereleases = true

[packages]
django-eventlog = {editable = true,path = "."}
