[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta:__legacy__"

[tool.black]
target-version = ['py311']
include = '\.pyi?$'
exclude = "migrations"

[tool.ruff]
target-version = "py38"
exclude = ["migrations"]
select = ["ALL"]
ignore = [
  "ANN101",   # Missing type annotation for `self`
  "ANN401",   # typing.Any is disallowed as function arg type
  "ARG",      # Unused function/method argument
  "D",        # Missing or badly formatted docstrings
  "E501",     # Line too long (>88)
  "FBT",      # Flake Boolean Trap (don't use arg=True in functions)
  "PLR2004", # Magic value used in comparison, consider replacing 200 with a constant variable
  "S101",     # Use of `assert` detected
  "SLF001",   # Private member accessed: `_meta`
  "TRY003",   # Avoid specifying long messages outside the exception class
]

[tool.pytest.ini_options]
python_files = [
  "tests.py",
  "test_*.py",
  "*_tests.py",
]
addopts = """
    --ds=eventlog.tests.testapp.settings
    --reuse-db
"""
filterwarnings = ["ignore::RuntimeWarning"]
